<div class="app-content container">
    <h2 class="title-category">ADD PRODUCTS</h2>

    <!-- Form to add products -->
    <div class="form-add-product-container">
        <form id="addProductForm" enctype="multipart/form-data" class="row mb-5">
            <div class="col-md-6 col-12">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title" placeholder="Title" id="title" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description (Separate ingredients with commas ",")</label>
                    <input type="text" name="description" placeholder="Ingredients" id="description"
                        class="form-control">
                </div>
                <div class="mb-3">
                    <label for="code" class="form-label">Code</label>
                    <input type="string" name="code" placeholder="Code" id="code" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" name="price" placeholder="Price" id="price" class="form-control">
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="mb-3">
                    <label for="stock" class="form-label">Stock</label>
                    <input type="number" name="stock" placeholder="Stock" id="stock" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select name="category" class="form-select" id="category">
                        <option value="vegan">vegan</option>
                        <option value="vegetarian">vegetarian</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="thumbnail" class="form-label">Image</label>
                    <input type="file" name="thumbnail" id="thumbnail" class="form-control">
                </div>
                <div class="pt-md-4 pt-0 btn-add-product-container">
                    <button type="submit" class="btn-add-product">Add</button>
                </div>
            </div>
        </form>
    </div>
    <!-- Products -->
    <div id="cardProductsContainer"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/realTimeProducts.js"></script>