<div class="app-content container">
    <h1 class="title-category">REGISTER</h1>
    {{#if error}}
        <div class="error-session">
            <p class="mb-sm-3 mb-0">{{error}}</p>
        </div>
    {{/if}}
    <div class="form-container">
        <form method="post" action="/api/sessions/signup">
            <div class="mb-lg-3 mb-0">
                <label for="first_name" class="form-label">Name</label>
                <input type="text" name="first_name" placeholder="Name" id="first_name" class="form-control">
            </div>
            <div class="mb-lg-3 mb-0">
                <label for="last_name" class="form-label">Surname</label>
                <input type="text" name="last_name" placeholder="Surname" id="last_name" class="form-control">
            </div>
            <div class="mb-lg-3 mb-0">
                <label for="age" class="form-label">Age</label>
                <input type="number" name="age" placeholder="00" id="age" class="form-control">
            </div>
            <div class="mb-lg-3 mb-0">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" placeholder="name@example.com" id="email" class="form-control">
            </div>
            <div class="mb-lg-3 mb-0">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" placeholder="password123" id="password" class="form-control">
            </div>
            <div class="btn-signup-container">
                <button type="submit" class="btn-signup">Register</button>
            </div>
        </form>
    </div>
    <div class="btn-login-signup-container">
        <button type="button" class="btn-login-signup" onclick="window.location.href = '/login'">Log in</button>
    </div>
</div>