<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Test</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/realTimeProducts">Real-time products</a></li>
        </ul>
    </nav>
    {{{body}}}
    <hr>
    <br>
    <center>
    <footer> 
        <h4>My Social Networks</h4>
        <p>
        <a href="https://www.instagram.com/felfa_/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/lic-felix-ayala/" target="_blank"><i class="fab fa-linkedin"></i></a>
        </p>
    </footer>
    </center>

</body>
</html>